.card {
    background-color: rgb(255, 250, 250);
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.card p {
    font-size: 1rem;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transition for color change and transform */
}

.button:hover {
    background-color: #0056b3; /* Changed color on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
}
